node_modules/
.next/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
__pycache__/
*.pyc
venv/
env/
.venv/
.DS_Store
mobile/.dart_tool/
mobile/build/
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
